conf_nodered/flows.json
[{"id":"340404d7.2edd14","type":"tab","label":"Temphum","disabled":false,"info":""},{"id":"e325aff0.a95be8","type":"mqtt-broker","z":"","name":"Esenz BananaPi","broker":"esenzbanana.home","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d84ebf87.3b3038","type":"mqtt-broker","z":"","name":"Esenz MQTT","broker":"esenz.home","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c5d8a5bf.ce8ec8","type":"mqtt in","z":"340404d7.2edd14","name":"Get package","topic":"data/temphum/+","qos":"0","datatype":"json","broker":"e325aff0.a95be8","x":170,"y":240,"wires":[["95de28ac.5cb94","b052c99f.61b2"]]},{"id":"95de28ac.5cb94","type":"function","z":"340404d7.2edd14","name":"Translate to domoticz/in","func":"var svalue = msg.payload.toString()\nvar idx = 0\n\nif (msg.topic === \"data/temphum/1DC2DD\") {\n    idx = 20\n}\n\nif (msg.topic === \"data/temphum/6A4179\") {\n    idx = 21\n}\n\nif (msg.topic === \"data/temphum/A203BB\") {\n    idx = 22\n}\n\nif (msg.topic === \"data/temphum/1DF207\") {\n    idx = 23\n}\n\nif (msg.topic === \"data/temphum/A203C7\") {\n    idx = 24\n}\n\n\n\nmsg.payload = { \"idx\" : idx, \"nvalue\" : 0, \"svalue\" : svalue }\nmsg.topic = \"domotics/in\"\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":240,"wires":[["66b40e4e.1ac03"]]},{"id":"b052c99f.61b2","type":"debug","z":"340404d7.2edd14","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":520,"y":140,"wires":[]},{"id":"66b40e4e.1ac03","type":"json","z":"340404d7.2edd14","name":"","property":"payload","action":"","pretty":false,"x":850,"y":240,"wires":[["62dbd87f.5d8bf8","1af2ee9c.430731"]]},{"id":"62dbd87f.5d8bf8","type":"mqtt out","z":"340404d7.2edd14","name":"To Domoticz","topic":"domoticz/in","qos":"0","retain":"","broker":"e325aff0.a95be8","x":1070,"y":240,"wires":[]},{"id":"1af2ee9c.430731","type":"debug","z":"340404d7.2edd14","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1020,"y":160,"wires":[]}]