conf_nodered/flows.json
[{"id":"96c9324e.c79f7","type":"tab","label":"Temperature","disabled":false,"info":"Get temperature values from the 3 sensors and publish them to ther correct Domoticz index"},{"id":"1fa4dd69.cef973","type":"tab","label":"Humidity","disabled":false,"info":""},{"id":"b7311d43.116238","type":"mqtt-broker","z":"","name":"Local Mosquitto","broker":"esenz.home","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"46ee1542.48b31c","type":"mqtt-broker","z":"","name":"Esenz MQTT","broker":"esenz.home","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"18e793e1.5f04c4","type":"mqtt-broker","z":"","name":"Local Mosquitto","broker":"esenz.home","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"34aab690.085582","type":"mqtt-broker","z":"","name":"Esenz MQTT","broker":"esenz.home","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fb143a5a.8803d","type":"mqtt in","z":"96c9324e.c79f7","name":"Get Temperature","topic":"data/temperature/+","qos":"0","datatype":"json","broker":"b7311d43.116238","x":300,"y":240,"wires":[["13032c05.f257ac","b854b265.dae858"]]},{"id":"13032c05.f257ac","type":"function","z":"96c9324e.c79f7","name":"Translate to domoticz/in","func":"var temp = msg.payload.toString()\nvar idx = 0\n\nif (msg.topic === \"data/temperature/6A4179\") {\n    idx = 1\n}\n\nif (msg.topic === \"data/temperature/1DF207\") {\n    idx = 2\n}\n\nif (msg.topic === \"data/temperature/1DC2DD\") {\n    idx = 3\n}\n\nmsg.payload = { \"idx\" : idx, \"nvalue\" : 0, \"svalue\" : temp }\nmsg.topic = \"domotics/in\"\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":240,"wires":[["42480848.4f5d58"]]},{"id":"53e3ec6c.f8c9f4","type":"mqtt out","z":"96c9324e.c79f7","name":"To Domoticz","topic":"domoticz/in","qos":"0","retain":"","broker":"46ee1542.48b31c","x":1190,"y":240,"wires":[]},{"id":"42480848.4f5d58","type":"json","z":"96c9324e.c79f7","name":"","property":"payload","action":"","pretty":false,"x":970,"y":240,"wires":[["53e3ec6c.f8c9f4","60614251.439124"]]},{"id":"b854b265.dae858","type":"debug","z":"96c9324e.c79f7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":640,"y":140,"wires":[]},{"id":"60614251.439124","type":"debug","z":"96c9324e.c79f7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1140,"y":160,"wires":[]},{"id":"a91db06.3ffdb5","type":"mqtt in","z":"1fa4dd69.cef973","name":"Get Humidity","topic":"data/humidity/+","qos":"0","datatype":"json","broker":"18e793e1.5f04c4","x":210,"y":260,"wires":[["9f9e0593.c5315","65263484.265d1c"]]},{"id":"9f9e0593.c5315","type":"function","z":"1fa4dd69.cef973","name":"Translate to domoticz/in","func":"var humd = Math.round(msg.payload)\nvar idx = 0\n\nif (msg.topic === \"data/humidity/6A4179\") {\n    idx = 4\n}\n\nif (msg.topic === \"data/humidity/1DF207\") {\n    idx = 5\n}\n\nif (msg.topic === \"data/humidity/1DC2DD\") {\n    idx = 6\n}\n\nmsg.payload = { \"idx\" : idx, \"nvalue\" : humd, \"svalue\" : \"0\" }\nmsg.topic = \"domotics/in\"\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":260,"wires":[["3e19886c.f44ab8"]]},{"id":"165a8676.ad5492","type":"mqtt out","z":"1fa4dd69.cef973","name":"To Domoticz","topic":"domoticz/in","qos":"0","retain":"","broker":"34aab690.085582","x":1110,"y":260,"wires":[]},{"id":"3e19886c.f44ab8","type":"json","z":"1fa4dd69.cef973","name":"","property":"payload","action":"","pretty":false,"x":890,"y":260,"wires":[["165a8676.ad5492","61b02f21.ced318"]]},{"id":"65263484.265d1c","type":"debug","z":"1fa4dd69.cef973","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":560,"y":160,"wires":[]},{"id":"61b02f21.ced318","type":"debug","z":"1fa4dd69.cef973","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1060,"y":180,"wires":[]}]